<!DOCTYPE html>
<html lang="ja">
  <%- include('head') %>

  <body class="mdc-typography">
    <section id="header" style="display: none;">
      <%- include('../components/header') %>
    </section>

    <%- include('../components/loading') %>
    <section id="content">
      <section class="page">
        <%- include(`../${content}`) %>
      </section>
    </section>
    <section id="footer" style="display: none;">
      <%- include('../components/footer') %>
    </section>
  </body>
</html>
