<!DOCTYPE html>
<html lang="ja">
  <%- include('head') %>

  <body class="mdc-typography <%= scroll == 'no' ? 'no-scroll' : '' %>">
    <section id="header">
      <%- include('../components/header') %>
    </section>

    <div class="mdc-top-app-bar--fixed-adjust">
      <%- include('../components/loading') %>
      <section id="content">
        <section class="page">
          <%- include(`../${content}`) %>
        </section>
      </section>
      <section id="footer">
        <%- include('../components/footer') %>
      </section>
    </div>
  </body>
</html>
