<div class="mdc-layout-grid no-margin">
  <div class="mdc-layout-grid__inner fixed-bg fixed-bg__concept-main">
    <div class="mdc-layout-grid__cell--span-12">
      <div class="concept-text">
        <p class="main mdc-typography--headline2">ともに学びあう</p>
        <p class="text mdc-typography--body1">
          ひとりひとりの想いが灯る、アカリ<br /><br />
          眠っていた元書庫の施設が<br />
          リノベ－ションにより学びあいの場へと生まれ変わりました<br /><br />
          多様な価値観が交差し、新しいモノ・コトが生まれる<br />
          多様な人との出会い、多様な文化との接点に、あなたもお越しください
        </p>
      </div>
    </div>
  </div>
</div>
<div class="mdc-layout-grid" id="about">
  <%- include('components/subtitle', {subtitle: 'about akari'}) %>
  <div class="mdc-layout-grid__inner">
    <%
      concept = [
        {
          main: 'Share Local',
          sub: '地域の価値を分かち合う。',
          image: 'image/concept1.jpg',
          reverse: false
        },
        {
          main: 'Share Space',
          sub: '多様な価値観に気づく。',
          image: 'image/concept2.png',
          reverse: true
        },
        {
          main: 'Share Park',
          sub: '多様な文化を知る。',
          image: 'image/concept3.png',
          reverse: false
        },
        {
          main: 'Share Office',
          sub: '小さな産業が生まれる。',
          image: 'image/concept4.png',
          reverse: true
        },
    ]
    %>
    <%- include('components/concept', concept[0]) %>
    <%- include('components/concept', concept[1]) %>
    <%- include('components/concept', concept[2]) %>
    <%- include('components/concept', concept[3]) %>
  </div>
</div>
<div class="mdc-layout-grid service" id="service">
  <%- include('components/subtitle', {subtitle: 'our service'}) %>
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6">
      <%
        images = [
          {
            src: 'image/1f.png',
            alt: '地域の価値を分かち合う。',
          },
          {
            src: 'image/2f.png',
            alt: '地域の価値を分かち合う。',
          },
        ]
      %>
  
      <%- include('components/swiper', {images: images}) %>
    </div>
    <h4 class="mdc-layout-grid__cell--span-6">
      <ul>
        <li>
          <h4 class="headline">Trattoria da martino ( イタリアン )</h4>
          <div class="text">周辺地域の食材を使ったシチリア料理で新たな味の提案をしています。</div>
        </li>
        <li>
          <h4 class="headline">Lounge</h4>
          <div class="text">勉強や読書など、ご自由にお寛ぎください。無料でお使い頂けます。</div>
        </li>
        <li>
          <h4 class="headline">Library</h4>
          <div class="text">無人で本の販売をしています。Lounge に限り、お好きな本を無料でお読み頂けます。</div>
        </li>
        <li>
          <h4 class="headline">Baby room</h4>
          <div class="text">おむつ交換台と授乳スペースを設置しています。</div>
        </li>
        <li>
          <h4 class="headline">Studio</h4>
          <div class="text">会議やイベントスペースとしてお使い頂けます。プロジェクター、マイク、スクリーンは有料で貸し出しております。</div>
          <div class="attr">面積：89㎡</div>
          <div class="attr">利用料：¥1,000/h</div>
        </li>
        <li>
          <h4 class="headline">Akari Park</h4>
          <div class="text">マルシェなど、屋外のイベントでご利用頂けます。１日単位でご利用頂けます。</div>
          <div class="attr">面積：1,500㎡</div>
          <div class="attr">利用料：¥10,000/日</div>
        </li>
        <li>
          <h4 class="headline">Share Office</h4>
          <div class="text">地域の魅力を高める業種の方を対象に、格安でスペースをお貸ししています。随時入居者を募集しておりますので、紙面下のメールアドレスまで、お気軽にお問い合わせください。</div>
          <div class="attr">部屋面積：11㎡</div>
          <div class="attr">賃料：¥20,000/月</div>
          <div class="attr">光熱費：¥5,000/月</div>
          <div class="attr">共益費：¥3,000/月</div>
          <div class="attr">月極駐車場有</div>
          <div class="attr">wifi・電源完備</div>
          <div class="attr">空調有り</div><br>
          <div class="attr">＜入居者特典＞</div><br>
          <div class="attr">①Trattoria da Martino のまかないメシ</div>
          <div class="attr">②Studio・akaripark 利用料割引</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mdc-layout-grid" id="news">
  <%- include('components/subtitle', {subtitle: 'news'}) %>
  <div class="mdc-layout-grid__inner">
    <%
      news = [
        {
          image: 'image/news/open_party.jpg',
          date: '2019/9/6',
          text: '9/28にオープニングパーティを開催します！クラウドファンディングでご協力頂いた方を中心に、アカリの内覧を希望される方、どんな人たちか会ってみたいという方など、ご興味をお持ちの方がいらっしゃれば是非お越しください(^^)',
          more: {
            url: 'https://www.facebook.com/events/381879056077791/',
            text: '詳しくみる',
          }
        },
        {
          image: 'image/news/maturi_ato.jpg',
          date: '2019/9/3',
          text: '8/31に開催したアカリ夏マツリの写真を掲載します。ご来場いただいた皆様、ご出店いただいた方々、ありがとうございました(^^)',
          more: {
            url: 'https://www.facebook.com/pg/yamorisyamomonone2018/photos/?tab=album&album_id=407041663275450&ref=page_internal',
            text: '詳しくみる',
          }
        },
        {
          image: 'image/news/maturi3.jpg',
          date: '2019/8/22',
          text: '＼アカリ夏マツリ出店者紹介／<br>福島市から、cachecache-candleさんがきます！ナチュラルでかわいいキャンドルたちが、祭りの夜を彩ります(^^)',
          more: {
            url: 'https://www.facebook.com/yamorisyamomonone2018/posts/400654690580814?__xts__%5B0%5D=68.ARAGAutX2oQXsR49SEjDlK5MgF5Jd8HLG3xLkgDlC3-GdjkCzvmjjHBNIGBvw1rqDcCwzzI4vsgVHsxYN90Sj9zIdzYVLQTwzYAK2WLuSrDEjCCUf46GkrRcVuI6Ht2xrqvy-eNFI5DLhXj7fFDZYz1j1JsMcfnGbKdxRjqkw5PR9jWPPL1NnFL5qWF0oOWd8d6i8F77onaaOysnfU4Za5_3UvD5z3yMVvnHSDItEenTPqy4MackOj0k2eVcBtcDp-0MlNb9XDqpkJN_fGghx7VfnUi8eW0vm2JSbS6DwFWZ4tAFn_kFOtIsKakj9T_6-VF-XCsRLey1hwILCU6YcdQ&__tn__=-R',
            text: '詳しくみる',
          }
        },
        {
          image: 'image/news/maturi2.jpg',
          date: '2019/8/21',
          text: '＼アカリ夏マツリ出店者紹介／<br>郡山市から、OBROS COFFEEさんがきます！一度飲んだらその魅力に取り憑かれてしまう、スペシャルティコーヒーを是非ご堪能ください(^^)',
          more: {
            url: 'https://www.facebook.com/yamorisyamomonone2018/posts/400175473962069?__xts__%5B0%5D=68.ARB6KblAeQICR2J4YgmikqpbJIWoD6HZO7ssYkgRLv_iaO9yisKjbg1QNNSW8juplRJ8VIoA2gmzaB_RomHoeqTMUXk_LXqSD3u6wS7onQoIGtQFkDnrsFJ7rup4c0UpsXXFkpJq3A90DIZskALYpfSEgrieM9rzJN9IaaMiteDDmNgqQsLCJjbE9orSl97Y7QkY28nAmadisv0VfUWkvPWwJO5jVtmwell97Hs2G4vXbPb8domHex9JKBoZOgMt__d3zTRtgcU7-sGfStSxTzPvHYEQCNahHfoHLDu5dcjx1GK512MGkpyDwmef0idU06UbnK2MyI9arzi-esWSulU&__tn__=-R',
            text: '詳しくみる',
          }
        },
        {
          image: 'image/news/maturi1.jpg',
          date: '2019/8/20',
          text: '＼アカリ夏マツリ出店者紹介／<br>福島市から、curry dinningbar笑夢さんがキッチンカーで出店します！スパイスカレーが好きな人集まれー(^O^)',
          more: {
            url: 'https://www.facebook.com/yamorisyamomonone2018/posts/399815270664756?__xts__%5B0%5D=68.ARBiUetEhX16LE0G7wjhIUxM5-bts_gV3rFTTT8C_cKHaNYB_WzletGinRvgASK-yHhFfovfHIWSEqcGe-rc40ANI_WpUdoVbXHhT7JEYhYkefUPHJtsAQQhl8Qn0CAx8DHSLEiu_8O6drJPPWSqJnBWTH1Cdpq-c9Kk6KojebYZ6Jmn88ezduor5qjTTu54NZWGRra4rlub3IsxcqaANE7fKD999vRuuhJe33J2Pc7KB61jlQbLF7l0vaDSvO-i2LgKf_8LqBlQdS8PwDJmqRcJ9ZGOF0t8IUQ7kjzAKEozTmRMsWR9CE_WoIsU54UemGY68yVZDdz6mbLGJlZ8xR8&__tn__=-R',
            text: '詳しくみる',
          }
        },
        {
          image: 'image/news/maturi.jpg',
          date: '2019/7/11',
          text: '今年１０月オープンの民間型公民館「アカリ」で夏マツリを開催します！日本には、たくさんのお祭りがあります。古来から続く伝統的なお祭りがほとんどだけど、これからの新しい文化をつくっていく、そんなお祭りを一緒につくりませんか？',
          more: {
            url: 'https://www.facebook.com/events/2872925172778721/?ref=3&action_history=null&__xts__%5B0%5D=68.ARDVQir4Xi2T7XjOSZpeZjNV-J81z25IzsAYMrUApWJ6B8d74LrWCJpPyqNEd6yvj_vKXY3o4NrtXrHsM8IkwgOeBI4pOOSnbmIDPKF9L5Vme1KNItW9nBSeNy6yN2pLxZEg_ORzUuQogQiEtyP0JceQRB56QZ03lPIjXmgJYqxWaXvOa0DU9EAKNCAC6jVhJtimMVHs5Hy8wWQ--njLKPjFYlKch5ck7O3o4L6qwZVSW0_9uOXaFDfYwMCG5xoRiJYFKkNtNJpjNPp9sSRrI4Y9&__tn__=-R',
            text: '詳しくみる',
          }
        },
        {
          image: 'image/news/ima_ba.jpg',
          date: '2019/7/5',
          text: '福島県内各地で豊かなコミュニティ形成と消費活動がなされる“場”を生み出している人たちをお招きし、なぜそんな“場”をつくったの？運営体制はどのようにして実現させている？彼らが生み出す“場”の魅力とは？などについてお聞きできるイベントを開催しました！',
          more: {
            url: 'https://www.facebook.com/pg/yamorisyamomonone2018/photos/?tab=album&album_id=377448239568126&ref=page_internal',
            text: '詳しくみる',
          }
        },
        {
          image: 'image/news/renove.jpg',
          date: '2019/4/26',
          text: '＼共にアカリをつくる仲間を募集中！／毎週日曜日、アカリの中でセルフリノベーションを一緒にやりませんか？自分の手でモノをつくることを通じて、自分の暮らしを見つめなおしてみましょう。',
          more: {
            url: 'https://www.facebook.com/events/646027809158632/',
            text: '詳しくみる',
          }
        },
    ]
    %>
    <%- include('components/news', news[0]) %>
    <%- include('components/news', news[1]) %>
    <%- include('components/news', news[2]) %>
    <%- include('components/news', news[3]) %>
    <%- include('components/news', news[4]) %>
    <%- include('components/news', news[5]) %>
    <%- include('components/news', news[6]) %>
    <%- include('components/news', news[7]) %>
  </div>
</div>
<div class="mdc-layout-grid no-margin" id="access">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <iframe
        class="googlemap-gray"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.189768797691!2d140.5390445797095!3d37.879244514014125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f8a63effff3e0d5%3A0x290f6d736d519745!2z44CSOTY5LTE3NzEg56aP5bO255yM5LyK6YGU6YOh5Zu96KaL55S65bGx5bSO6IiY5p2x77yR77yU4oiS77yY!5e0!3m2!1sja!2sjp!4v1554870222948!5m2!1sja!2sjp"
        width="100%"
        height="300"
        frameborder="0"
        style="border:0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<div class="mdc-layout-grid">
  <%- include('components/subtitle', {subtitle: 'access'}) %>
  <div class="mdc-layout-grid__inner access">
    <div class="mdc-layout-grid__cell--span-12">
      <p>
        Co-working & 
      </p>
      <p>
        Co-learning
      </p>
      <p>
        Space
      </p><br>
      <p class="mdc-typography--headline5">
        アカリ
      </p>
      <div class="headline">
        <i class="fas fa-map-pin"></i>
        <p>所在地</p>
      </div>
      <p>
        福島県伊達郡国見町山﨑舘東14番地8
      </p>
      <div class="headline">
        <i class="fas fa-car"></i>
        <p>お車でお越しの場合</p>
      </div>
      <p>
        東北自動車道 国見インターから約5分<br />
        JR福島駅から約30分<br />
        ※駐車場あります
      </p>
      <div class="headline">
        <i class="fas fa-train"></i>
        <p>電車でお越しの場合</p>
      </div>
      <p>
        JR藤田駅から徒歩1分
      </p>
    </div>
  </div>
</div>
